body {
    font-family: 'Rubik', sans-serif;
    min-height:100%;
    background-image: url('../assets/img/i-like-food.svg');
    background-color: rgb(243, 243, 243);
}

body .container-xxl {
    max-width: 1530px;
}

